body {
    margin: 0
}

html {
    background-color: #292c33;
    color: white;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    border-bottom: 2px solid lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

img {
    height: 72px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
}

h1 {
    margin: 8px 0px;
}

h2 {
    margin: 8px 0 0 0;
}

h3 {
    margin: 0;
    font-size: 0.8em;
}

h4 {
    color: lightslategray;
    margin-top: 0;
    margin-bottom: 8px;
}

.side-margin {
    padding: 0px 8px;
}

p {
    margin: 0 0 0 12px;
}

.test {
    margin: auto
}

.boldstuff {
    background-color: red;
}